<div class="container">
    <div class="row my-4">
        <div class="col">
            <div id="myplayertable">
                <table  class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for player in user.team.player %}
                            <tr>
                                <td style="width:20%">{{player.name}}</td>
                                <td style="width:20%">{{player.position}}</td>
                                <td style="width:20%">{{player.cost}}</td>
                                
                                {% if teamEditStatus %}
                                <td>
                                    <div>
                                        <button 
                                            hx-delete="{% url 'deletePlayer' user_id player.id %}"
                                            hx-target="#myplayertable"
                                            hx-confirm="Sure?">
                                            Delete Player
                                        </button>
                                    </div>
                                </td>
                                {% endif %}
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if teamEditStatus %}
                <a href="addPlayer/"><button type="button" class="btn btn-sm btn-primary" disabled>Add Player</button></a>
            {% endif %}
            <a href="{%url 'userHomePage'%}"><button type="button" class="btn btn-sm btn-primary" disabled>Back</button></a>
        </div>
        <div class="col" hx-post="{%url 'selectCaptain'%}" hx-trigger="change" hx-target="#myplayertable">
            <select name="captainID" class="form-select">
                <option value="">--Please choose a Captain--</option>
                {% for player in user.team.player %}
                    <option value="{{player.id}}">{{player.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>