<div id="myplayertable">
    <table  class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Cost</th>
        </tr>
        </thead>
        <tbody>
            {% for player in user.team.player %}
                
                {% if player.is_captain %}
                <tr bgcolor="yellow">
                    <td style="width:20%"> <a href="{%url 'playerInfo' player.id%}">{{player.name}}</a> </td>
                    <td style="width:20%">{{player.position}}</td>
                    <td style="width:20%">{{player.cost}}</td>
                    
                    {% if teamEditStatus %}
                    <td>
                        <div>
                            <button 
                                hx-delete="{% url 'deletePlayer' user_id player.id %}"
                                hx-target="#myplayertable"
                                hx-confirm="Sure?">
                                Delete Player
                            </button>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% else %}
                <tr>
                    <td style="width:20%"><a href="{%url 'playerInfo' player.id%}">{{player.name}}</a></td>
                    <td style="width:20%">{{player.position}}</td>
                    <td style="width:20%">{{player.cost}}</td>
                    
                    {% if teamEditStatus %}
                    <td>
                        <div>
                            <button 
                                hx-delete="{% url 'deletePlayer' user_id player.id %}"
                                hx-target="#myplayertable"
                                hx-confirm="Sure?">
                                Delete Player
                            </button>
                        </div>
                    </td>
                    {% endif %}
                    
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
        
</div>