<div id="playerTable">
    <table  class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Cost</th>
        </tr>
        </thead>
        <tbody>
            {% for p in players %}
                <tr>
                    <td style="width:20%">{{p.first_name}} {{p.second_name}}</td>
                    <td style="width:20%">{{p.position}}</td>
                    <td style="width:20%">{{p.value}}</td>
                    <td><div id="addButton_{{p.player_id}}">
                        <button hx-post="{%url 'addToUserTeam' user_id p.player_id %} " hx-target="#addButton_{{p.player_id}}">
                        Add Player
                        </button>
                    </div></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>