{%extends 'base.html'%}

{% block body %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col">
                <div class="card text-center px-5 py-5">
                    <form action='' method='POST'>
                        {% csrf_token %}
                        <div class="mb-4"><span>Username: </span> <input type='text' name='username'></div>
                        <div class="mb-4"><span>Password: </span> <input type='Password' name='password'></div>
                        <div class=" mb-3 "><button class="btn btn-outline-dark" type="submit">Login</button></div>
                    </form>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <a href={%url 'createUserPage' %} class="btn btn-outline-success">Sign Up</a>
                    <a href="{%url 'login'%}" class="btn btn-outline-secondary">Admin Login</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}