{% extends 'base.html' %}
{% block title %}
    {{leagueName}}
{% endblock title %}
{% block body %}
    <div class="h3 text-center">{{leagueName}}</div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Team Name</th>
                <th>Points</th>
            </tr>
        </thead>    
        <tbody>
            {% for id in usersList %}
                {%if adminID is id.userID%}
                    <tr class="table-primary">
                        <td>{{id.rank}} - <b>League Admin</b></td>
                        <td>{{id.teamName}}</td>
                        <td>{{id.teamPoint}}</td>
                    </tr>
                {% elif user_id is id.userID %}
                    <tr class="table-warning">
                        <td>{{id.rank}} - <b>Me</b> </td>
                        <td>{{id.teamName}}</td>
                        <td>{{id.teamPoint}}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{id.rank}}</td>
                        <td>{{id.teamName}}</td>
                        <td>{{id.teamPoint}}</td>
                    </tr>
                    {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <a href="{%url 'leaveLeague' user_id leagueCode %}" class="btn btn-danger mt-3 mx-3"> Leave League</a>
    <a href="{%url 'userLeague' user_id%}" class="btn btn-dark mt-3">Back</a>
    
{% endblock body %}