{% extends 'base.html' %}
{% block title %}
    {{leagueName}}
{% endblock title %}
{% block body %}
    <div class="h3 text-center">{{leagueName}}</div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Points</th>
            </tr>
        </thead>    
        <tbody>
            {% for id in usersList %}
                {% if user_id is id.userID %}
                    <tr bgcolor="#evan">
                        <td>{{id.teamName}}</td>
                        <td>{{id.teamPoint}}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{id.teamName}}</td>
                        <td>{{id.teamPoint}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-danger align-center">
        <a href="{%url 'leaveLeague' user_id leagueCode %}"> Leave League</a>
    </button>
    
{% endblock body %}