{% extends 'base.html' %}
{% block title %}
    Give The Score 
{% endblock title %}
{% block body %}
<div class="container my-3">
    <form action="saveScore/" method="post">
        {%csrf_token%}
        <div class="col-3">
            <input type="text" name="homeScore" value="{{homeScore}}" class="form-control">
            <input type="text" name="awayScore" value="{{awayScore}}" class="form-control">
            <button type="submit" class="form-control">Submit and Edit {{homeTeamName}} Players</button>
        </div>
    </form>
</div>
{% endblock body %}