{% extends 'base.html' %}

{% block title %}
    Add Player To {{user.team.name}}
{% endblock title %}

{% block body %}
    <a href="{%url 'userTeamPage' user_id %}" class="btn btn-dark mx-3 my-3">Go Back</a>
    <form action="getPlayerData/" method="post">
        <div class='d-flex justify-content-between' hx-post="getPlayerData/" hx-target="#playerTable" hx-trigger="change">
            <select name="teamID" class="form-select mx-2">
                <option value="">--Please choose a Team--</option>
                {% for t in teams %}
                    <option value="{{t.id}}">{{t.team_name}}</option>
                {% endfor %}
            </select>
            <select name='position' class="form-select mx-2" aria-label="Default select example" >
                <option value="">--Please choose an option--</option>
                <option value="Goalkeeper">Goalkeeper</option>
                <option value="Defender">Defender</option>
                <option value="Midfielder">Midfielder</option>
                <option value="Forward">Forward</option>
            </select>
        </div>
    </form>
    {% include "partials/selectedPlayers.html"%}
{% endblock body %}