{% extends 'base.html' %}
{% block title %}
    GW{{gw}} Performance
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col my-2 text-center h2"><b>Gameweek {{gw}}</b></div>
        </div>
        <div class="row">
            <div class="col mt-5 mb-2 text-center h4">Point Earned: {{point}}</div>
        </div>
        {% if captain %}
        <div class="row">
            <div class="col mb-2 text-center h4">Captain: {{captain}}</div>
        </div>
        {% endif %}
        
    </div>
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Position</th>
            <th>Point</th>
        </thead>
        <tbody>
            {% for row in history.player %}
                <tr>
                    <td><a href="{%url 'playerInfo' row.id%}">{{row.name}}</a></td>
                    <td>{{row.position}}</td>
                    <td>{{row.point}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{%url 'userTeamPage' user_id%}" class="btn btn-dark">Back</a>
{% endblock body %}