{%extends 'base.html' %}

{%block title %} 
Team {{user.team.name}}
{%endblock%}

{% block body %}
{% if user.is_authenticated %}



<div class="container" >
    <div class="row my-4">
        <div class="col">
            {% include 'partials/myPlayers.html' %}
            {% if teamEditStatus %}
                <a href="addPlayer/"><button type="button" class="btn btn-sm btn-primary" disabled>Add Player</button></a>
            {% endif %}
            <a href="{%url 'userHomePage'%}"><button type="button" class="btn btn-sm btn-primary" disabled>Back</button></a>
        </div>
        {% if history %}
            <div class="col">
                <div class="h2 text-center">GW HISTORY</div>
                <table class="table table-striped">
                    <thead>
                        <th>GW</th>
                        <th>Point</th>
                    </thead>
                    <tbody>
                        {% for h in history.allGW %}
                            <td><a href="{%url 'gwHistory' user_id h.gw%}">{{h.gw}}</a></td>
                            <td>{{h.point}}</td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        
        <div class="col">
            {% if teamEditStatus %}
            <form method="post">
                <div hx-post="{%url 'selectCaptain' user_id%}" hx-trigger="change" hx-target="#myplayertable">
                    <select name="captainID" class="form-select">
                        <option value="">--Please choose a Captain--</option>
                        {% for player in user.team.player %}
                            <option value="{{player.id}}">{{player.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{%else%}
<a href='/'>not logged in,login to enter</a>
{% endif %}
{% endblock %}